  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#!">Rawdha.tn</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <a [routerLink]="['/home']">
                    <span>Home</span>
                </a>
                <a [routerLink]="['/sign up']">
                    <span>Sign Up</span>
                </a><br>
                <a [routerLink]="['/sign in']">
                    <span>Log In</span>
                </a>
                <a [routerLink]="['/admin']">
                    <span>Admin</span>
                </a>
            </ul>
        </div>
    </div>
</nav>
