    
    
   
   <div class="sidenav-footer mx-3 mt-3 pt-3">
     
        <div class="full-background" style="background-image: url('../assets/img/curved-images/white-curved.jpeg')"></div>

 

  <div class="main-content position-relative bg-gray-100">
     Navbar 
    <nav class="navbar navbar-main navbar-expand-lg bg-transparent shadow-none position-absolute px-4 w-100 z-index-2">
      <div class="container-fluid py-1">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 ps-2 me-sm-6 me-5">
            <li class="breadcrumb-item text-sm"><a class="text-white opacity-5" href="javascript:;">Pages</a></li>
            <li class="breadcrumb-item text-sm text-white active" aria-current="page">Profile</li>
          </ol>
          <h6 class="text-white font-weight-bolder ms-2">Profile</h6>
        </nav>
        <div class="collapse navbar-collapse me-md-0 me-sm-4 mt-sm-0 mt-2" id="navbar">
          <div class="ms-md-auto pe-md-3 d-flex align-items-center">
            <div class="input-group">
              <span class="input-group-text text-body"><i class="fas fa-search" aria-hidden="true"></i></span>
              <input type="text" class="form-control" placeholder="Type here...">
            </div>
          </div>
          <ul class="navbar-nav justify-content-end">
            <li class="nav-item d-flex align-items-center">
              <a href="javascript:;" class="nav-link text-white font-weight-bold px-0">
                <i class="fa fa-user me-sm-1"></i>
                <span class="d-sm-inline d-none">Sign In</span>
              </a>
            </li>
            <li class="nav-item d-xl-none ps-3 pe-0 d-flex align-items-center">
              <a href="javascript:;" class="nav-link text-white p-0">
                <a href="javascript:;" class="nav-link text-body p-0" id="iconNavbarSidenav">
                  <div class="sidenav-toggler-inner">
                    <i class="sidenav-toggler-line bg-white"></i>
                    <i class="sidenav-toggler-line bg-white"></i>
                    <i class="sidenav-toggler-line bg-white"></i>
                  </div>
                </a>
              </a>
            </li>
            <li class="nav-item px-3 d-flex align-items-center">
              <a href="javascript:;" class="nav-link text-white p-0">
                <i class="fa fa-cog fixed-plugin-button-nav cursor-pointer"></i>
              </a>
            </li>

             Nav Item - Messages --
            <li class="nav-item dropdown pe-2 d-flex align-items-center">
              <a href="javascript:;" class="nav-link text-white p-0" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa fa-envelope cursor-pointer"></i>
              </a>
              -- Dropdown - Messages --
              <ul class="dropdown-menu dropdown-menu-end px-2 py-3 ms-n4" aria-labelledby="dropdownMenuButton">
                <li class="mb-2">
                  <a class="dropdown-item border-radius-md" href="javascript:;">
                    <div class="d-flex py-1">
                      <div class="my-auto">
                        <img src="../assets/img/team-1.jpg" class="avatar avatar-sm me-3">
                      </div>
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="text-sm font-weight-normal mb-1">
                          <span class="font-weight-bold">Asma Gharbi</span> Hi there, long time no talk
                        </h6>
                        <p class="text-xs text-secondary mb-0">
                          <i class="fa fa-clock me-1"></i>
                          6 minutes ago
                        </p>
                      </div>
                    </div>
                  </a>
                </li>
                <li class="mb-2">
                  <a class="dropdown-item border-radius-md" href="javascript:;">
                    <div class="d-flex py-1">
                      <div class="my-auto">
                        <img src="../assets/img/ivana-square.jpg" class="avatar avatar-sm bg-gradient-dark me-3">
                      </div>
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="text-sm font-weight-normal mb-1">
                          <span class="font-weight-bold">Samar Ben Saada</span> Hi, we need to talk ..
                        </h6>
                        <p class="text-xs text-secondary mb-0">
                          <i class="fa fa-clock me-1"></i>
                          1 hour ago
                        </p>
                      </div>
                    </div>
                  </a>
                </li>
                <li class="mb-2">
                  <a class="dropdown-item border-radius-md" href="javascript:;">
                    <div class="d-flex py-1">
                      <div class="my-auto">
                        <img src="../assets/img/team-4.jpg" class="avatar avatar-sm bg-gradient-dark me-3">
                      </div>
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="text-sm font-weight-normal mb-1">
                          <span class="font-weight-bold">Skander Jmili</span> yes i agree
                        </h6>
                        <p class="text-xs text-secondary mb-0">
                          <i class="fa fa-clock me-1"></i>
                          3 hours ago
                        </p>
                      </div>
                    </div>
                  </a>
                </li>
              </ul>
            </li>

            -- Nav Item - Alerts --
            <li class="nav-item dropdown pe-2 d-flex align-items-center">
              <a href="javascript:;" class="nav-link text-white p-0" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa fa-bell cursor-pointer"></i>
              </a>
              -- Dropdown - Alerts --
              <ul class="dropdown-menu dropdown-menu-end px-2 py-3 ms-n4" aria-labelledby="dropdownMenuButton2">
                <li class="mb-2">
                  <a class="dropdown-item border-radius-md" href="javascript:;">
                    <div class="d-flex py-1">
                      <div class="my-auto">
                        <img src="../assets/img/kal-visuals-square.jpg" class="avatar avatar-sm me-3">
                      </div>
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="text-sm font-weight-normal mb-1">
                          <span class="font-weight-bold">New comment</span> from Fatma Dridi
                        </h6>
                        <p class="text-xs text-secondary mb-0">
                          <i class="fa fa-clock me-1"></i>
                          13 minutes ago
                        </p>
                      </div>
                    </div>
                  </a>
                </li>
                <li class="mb-2">
                  <a class="dropdown-item border-radius-md" href="javascript:;">
                    <div class="d-flex py-1">
                      <div class="my-auto">
                        <img src="../assets/img/team-3.jpg" class="avatar avatar-sm bg-gradient-dark me-3">
                      </div>
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="text-sm font-weight-normal mb-1">
                          <span class="font-weight-bold">Amin chouchen</span> Liked your post
                        </h6>
                        <p class="text-xs text-secondary mb-0">
                          <i class="fa fa-clock me-1"></i>
                          1 day
                        </p>
                      </div>
                    </div>
                  </a>
                </li>
                <li class="mb-2">
                  <a class="dropdown-item border-radius-md" href="javascript:;">
                    <div class="d-flex py-1">
                      <div class="my-auto">
                        <img src="../assets/img/marie.jpg" class="avatar avatar-sm bg-gradient-dark me-3">
                      </div>
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="text-sm font-weight-normal mb-1">
                          <span class="font-weight-bold">Zaineb mrad</span> Liked your comment
                        </h6>
                        <p class="text-xs text-secondary mb-0">
                          <i class="fa fa-clock me-1"></i>
                          2 days
                        </p>
                      </div>
                    </div>
                  </a>
                </li>
              </ul>
            </li>

          </ul>
        </div>
      </div>
    </nav>
    -- End Navbar --
    <div class="container-fluid">
      <div class="page-header min-height-300 border-radius-xl mt-4" style="background-image: url('../assets/img/couverture.jpg'); background-position-y: 50%;">

      </div>
<div class="myStyle">
  <br><br>
</div>
               
                  
                
            
           
             
            
 
          
            
         
          
         
        </div>
      </div>
    </div>
    
    
               
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
<div id="user-profile-2" class="user-profile">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
  <div class="container">
  <div class="row flex-lg-nowrap">
    <div class="col-12 col-lg-auto mb-3" style="width: 200px;">
     
    </div>
  
    <div class="col">
      <div class="row">
       
        <div class="col mb-3">
          
          <div class="card">
            
            <div class="card-body">
              
              <div class="e-profile">
                
                <div class="row">
                  
                  <div class="col-12 col-sm-auto mb-3">
                    <div div *ngFor="let kindergartens of kindergartens" class="col-md-6 col-xl-8" >
                    <div class="mx-auto" style="width: 140px;">
                      <img style='max-width:100%;' *ngIf="kindergartens?.image" src='data:image/png;base64,{{kindergartens?.image}}' />
                    </div>
                  </div>
                  <div class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
                    <div class="text-center text-sm-left mb-2 mb-sm-0">
                     
                     
                      <div class="mt-2">
                        <button class="btn btn-primary" type="button">
                          <i class="fa fa-fw fa-camera"></i>
                          <span>Change Photo</span>
                        </button>
                      </div>
                    </div>
                   
                  </div>
                </div>
                <ul class="nav nav-tabs">
                  <li class="nav-item"><a href="" class="active nav-link">Settings</a></li>
                </ul>
                <div class="tab-content pt-3">
                  <div class="tab-pane active">
                    <form #editForm="ngForm" class="form" novalidate="">
                      <div class="row">
                        <div class="col">
                          <div class="row">
                            <div class="col">
                              <div class="form-group">
                                <label>First Name</label>
                                <input class="form-control" type="text" ngModel  name="First Name" placeholder="foulen" value="foulen">
                              </div>
                            </div>
                            <div class="col">
                              <div class="form-group">
                                <label>Last Name</label>
                                <input class="form-control" type="text" ngModel  name="Last Name" placeholder="ben foulen" value="ben foulen">
                              </div>
                            </div>
                           
                              <div class="form-group">
                                <label>Phone</label>
                                <input class="form-control" type="text" ngModel  name="Phone" placeholder="(+216) 777777777" value="(+216) 777777777">
                              </div>
                            </div>
                          
                          <div class="row">
                            <div class="col">
                              <div class="form-group">
                                <label>Email</label>
                                <input class="form-control" type="text"  ngModel  placeholder="user@example.com">
                              </div>
                            </div>
                          </div>
                          <div class="form-group">
                            <label>Employee Number</label>
                            <input class="form-control" type="text" ngModel  name="Employee Number" placeholder="00" value="00">
                          </div>
                          <div class="row">
                            <div class="col mb-3">
                              <div class="form-group">
                                <label>About</label>
                                <textarea class="form-control" ngModel  rows="5" placeholder="Hello !!"></textarea>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-12 col-sm-6 mb-3">
                          <div class="mb-2"><b>Change Password</b></div>
                          <div class="row">
                            <div class="col">
                              <div class="form-group">
                                <label>Current Password</label>
                                <input class="form-control" type="password" placeholder="••••••">
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col">
                              <div class="form-group">
                                <label>New Password</label>
                                <input class="form-control" type="password" placeholder="••••••">
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col">
                              <div class="form-group">
                                <label>Confirm <span class="d-none d-xl-inline">Password</span></label>
                                <input class="form-control" type="password" placeholder="••••••"></div>
                            </div>
                          </div>
                        </div>
                        <div class="col-12 col-sm-5 offset-sm-1 mb-3">
                          <div class="row">
                            <div class="col">
                              <div class="custom-controls-stacked px-2">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col d-flex justify-content-end">
                          <button  [disabled]="editForm.invalid" class="btn btn-primary" type="submit">Save Changes</button>
                        </div>
                      </div>

                    --    upload image 
            <div class="form-group">
              <label for="image">Image</label>
              <input type="file" (change)="changefile($event)" class="form-control" id="image">
            </div>
           

            <div class="card-body p-2">
              <div class="card-header pb-0 p-3">
                <h6 class="mb-0">type of post</h6>
              </div>
              <div class="card-body p-3">
                <select  name="type" class="form-select" aria-label="Default select example" required>
                  
                  <option value="event">event</option>
                  <option value="publication">publication</option>

                </select>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" id="add-employee-form" class="btn btn-secondary"
                data-dismiss="modal" >Close</button>
              <button  type="submit"
                class="btn btn-primary">Save changes</button>
            </div> --
        
       
         

                    </form>
  
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
  
        <div class="col-12 col-md-3 mb-3">
          <div class="card mb-3">
            
          </div>
          
        </div>
      </div>
  
    </div>
  </div>
  </div>

      <div class="tab-content no-border padding-24">
        <div id="home" class="tab-pane in active">
          <div class="row">
            <div *ngFor="let kindergarten of kindergartens" class="col-xs-12 col-sm-3 center">
            <div class="col-xs-12 col-sm-9">
              <div class="profile-user-info">
                <div class="profile-info-row">
                  <div class="profile-info-name"> First Name   </div>
                  <div class="profile-info-value">
                    <span>{{kindergarten?.firstName}}</span>
                  </div>
                </div>
                <div class="profile-info-row">
                  <div class="profile-info-name"> Last Name   </div>
                  <div class="profile-info-value">
                    <span>{{kindergarten?.lastName}}</span>
                    
                  </div>
                </div>
                

                <div class="profile-info-row">
                  <div class="profile-info-name"> Email </div>

                  <div class="profile-info-value">
                    <span>{{kindergarten?.email}}</span>
                  </div>
                </div>

                <div class="profile-info-row">
                  <div class="profile-info-name"> Phone </div>

                  <div class="profile-info-value">
                    <span>{{kindergarten?.phone}}</span>
                  </div>
                </div>

                <div class="profile-info-row">
                  <div class="profile-info-name"> Employee Number </div>

                  <div class="profile-info-value">
                    <span>{{kindergarten?.employeNumber}}</span>
                  </div>
                </div>
                <div class="profile-info-row">
                  <div class="profile-info-name"> Little About Me  </div>

                  <div class="widget-title smaller">
                    <span>{{kindergarten?.description}}</span>
                  </div>
                </div>
              </div>
<br>
              <div class="hr hr-8 dotted"></div>
              <button type="button" class="btn btn-primary">Edit</button>  &nbsp;            
              <button type="button"  class="btn btn-primary">delete</button>
              <div class="profile-user-info">
                


                
              </div>
            </div>-- /.col -
          </div>-- /.row --

          

          
            
             
                
                 
                

              
                  
               
              
            
          
       

        

             
                 


               

             

              

                 

        

                

               
               
                    


                   
           

        

                
              
            
      </div>
    </div>
  </div>
  </div>
           
          

       
            
           
          

      
 
  
  <div class="fixed-plugin">
    <a class="fixed-plugin-button text-dark position-fixed px-3 py-2">
      <i class="fa fa-cog py-2"> </i>
    </a>
    <div class="card shadow-lg">
      <div class="card-header pb-0 pt-3">
        <div class="float-start">
          <h5 class="mt-3 mb-0">Settings</h5>
        </div>
        <div class="float-end mt-4">
          <button class="btn btn-link text-dark p-0 fixed-plugin-close-button">
            <i class="fa fa-close"></i>
          </button>
        </div>
        -- End Toggle Button --
      </div>
      <hr class="horizontal dark my-1">
      <div class="card-body pt-sm-3 pt-0">
        -- Sidebar Backgrounds --
        <div>
          <h6 class="mb-0">Sidebar Colors</h6>
        </div>
        <a href="javascript:void(0)" class="switch-trigger background-color">
          <div class="badge-colors my-2 text-start">
            <span class="badge filter bg-gradient-primary active" data-color="primary" onclick="sidebarColor(this)"></span>
            <span class="badge filter bg-gradient-dark" data-color="dark" onclick="sidebarColor(this)"></span>
            <span class="badge filter bg-gradient-info" data-color="info" onclick="sidebarColor(this)"></span>
            <span class="badge filter bg-gradient-success" data-color="success" onclick="sidebarColor(this)"></span>
            <span class="badge filter bg-gradient-warning" data-color="warning" onclick="sidebarColor(this)"></span>
            <span class="badge filter bg-gradient-danger" data-color="danger" onclick="sidebarColor(this)"></span>
          </div>
        </a>
        -- Sidenav Type --
        <div class="mt-3">
          <h6 class="mb-0">Sidenav Type</h6>
          <p class="text-sm">Choose between 2 different sidenav types.</p>
        </div>
        <div class="d-flex">
          <button class="btn bg-gradient-primary w-100 px-3 mb-2 active" data-class="bg-transparent" onclick="sidebarType(this)">Transparent</button>
          <button class="btn bg-gradient-primary w-100 px-3 mb-2 ms-2" data-class="bg-white" onclick="sidebarType(this)">White</button>
        </div>
        <p class="text-sm d-xl-none d-block mt-2">You can change the sidenav type just on desktop view.</p>
        -- Navbar Fixed --
        <hr class="horizontal dark my-sm-4">
                <div class="w-100 text-center">
          <a class="github-button" href="https://github.com/creativetimofficial/soft-ui-dashboard" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star creativetimofficial/soft-ui-dashboard on GitHub">Star</a>
        </div>
        <div class="card-body p-3">
          <h6 class="text-uppercase text-body text-xs font-weight-bolder">Account</h6>
          <ul class="list-group">
            <li class="list-group-item border-0 px-0">
              <div class="form-check form-switch ps-0">
                <input class="form-check-input ms-auto" type="checkbox" id="flexSwitchCheckDefault" checked>
                <label class="form-check-label text-body ms-3 text-truncate w-80 mb-0" for="flexSwitchCheckDefault">Email me when someone follows me</label>
              </div>
            </li>
            <li class="list-group-item border-0 px-0">
              <div class="form-check form-switch ps-0">
                <input class="form-check-input ms-auto" type="checkbox" id="flexSwitchCheckDefault1">
                <label class="form-check-label text-body ms-3 text-truncate w-80 mb-0" for="flexSwitchCheckDefault1">Email me when someone answers on my post</label>
              </div>
            </li>
            <li class="list-group-item border-0 px-0">
              <div class="form-check form-switch ps-0">
                <input class="form-check-input ms-auto" type="checkbox" id="flexSwitchCheckDefault2" checked>
                <label class="form-check-label text-body ms-3 text-truncate w-80 mb-0" for="flexSwitchCheckDefault2">Email me when someone mentions me</label>
              </div>
            </li>
          </ul>
       

      </div>
    </div>
  </div>
  --   Core JS Files   --
  <script src="../assets/js/core/popper.min.js"></script>
  <script src="../assets/js/core/bootstrap.min.js"></script>
  <script src="../assets/js/plugins/smooth-scrollbar.min.js"></script>
  -- Control Center for Soft Dashboard: parallax effects, scripts for the example pages etc --
  <script src="../assets/js/soft-ui-dashboard.min.js?v=1.0.1"></script>
  <script>
    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
      var options = {
        damping: '0.5'
      }
      Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }
  </script>
  -- Github buttons --
  <script async defer src="https://buttons.github.io/buttons.js"></script>
</div>
