
<br>
<div>
            &nbsp;&nbsp;<div class="page-header align-items-start section-height-100
          pt-60 pb-60 m-60 border-radius-lg" style="background-image: url('../assets/img/background.jpg');">
          <div class="container bg-light">
        <div class=" text-center">
          <td>
              <button routerLink="/kindergarten" routerLinkActive="active" type="button" class="btn btn-warning" >Kindergarten Management</button>&nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
       </td>
        <td>
          
              <button type="button" class="btn btn-warning">Parent Management</button>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            
               </td>
               <td>
              <button type="button" class="btn btn-warning">Visitor Management</button>&nbsp; &nbsp; &nbsp; &nbsp; 
              </td>
            </div>
            </div>
            </div>
       
      

</div>  


